TZ="Etc/Universal"
DEVENV_LOCALE="en_US.UTF-8"
DEVENV_USER="bram"
DEVENV_PASS="secret"
DEVENV_EMAIL="email@example.com"
DEVENV_MOUNT_PATH=$HOME
DEVENV_GIT_DEF_BRANCH="main"
DEVENV_PKGS="zsh ripgrep curl glances htop jq"
